body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

table, th, td {
    #border: 1px solid darkgray;

}

th, td {
    padding: 15px;
}

#LSResult {
    background-color: #FFFFFF;
    border: 1px solid #e9e9e9;
    padding: 20px 5px 5px;
    position: absolute;
    width: 500px;
    z-index: 98;
    -webkit-border-radius: 6px 0 6px 6px /*{cornerRadius}*/;
    -moz-border-radius: 6px 0 6px 6px /*{cornerRadius}*/;
    border-radius: 6px 0 6px 6px /*{cornerRadius}*/;
    -khtml-border-radius: 6px 0 6px 6px /*{cornerRadius}*/;
    -webkit-box-shadow: 2px 3px 2px #888;
    -moz-box-shadow: 2px 3px 2px #888;
    box-shadow: 2px 3px 2px #888;
}